@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Components";
}


<h1>Components</h1>

<pre>@ViewBag.Id</pre>
<pre>@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Books"], Newtonsoft.Json.Formatting.Indented))</pre>

@*@Html.Partial("_RadioButtonToggle")*@

@section scripts {
    @Styles.Render("~/Content/components")
    <link href="http://jmblog.github.io/color-themes-for-google-code-prettify/css/themes/github.css" rel="stylesheet" />
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
}