<div class='radio-button-toggle btn-group' data-toggle='buttons'>
    <label class='btn btn-default radio-button-toggle-true{0}' for='{1}'>
        {2}
    </label>
    <label class='btn btn-default radio-button-toggle-false{3}' for='{4}'>
        {5}
    </label>
</div>