.radio-button-toggle.btn-group label.btn {
    padding: 3px !important;
    min-width: 35px;
    min-height: 20px;
}

.radio-button-toggle.btn-group .radio-button-toggle-true.active {
    background-color: #3276b1 !important;
    color: white;
    cursor: default;
}

.radio-button-toggle.btn-group .radio-button-toggle-false.active {
    background-color: #d7d7d7 !important;
    color: white;
    cursor: default;
}

.radio-button-toggle.btn-group .radio-button-toggle-true,
.radio-button-toggle.btn-group .radio-button-toggle-false {
    color: transparent;
}

    .radio-button-toggle.btn-group .radio-button-toggle-true:not(.active):hover {
        /* uncomment background color to display text on hover */
        /*color: white;*/
    }

    .radio-button-toggle.btn-group .radio-button-toggle-false:not(.active):hover {
        /* uncomment background color to display text on hover */
        /*color: black;*/
    }