@{ 
    var statusCodes = EnumHelper.GetSelectList(typeof(HttpStatusCode));
    statusCodes = statusCodes.Select(x => new SelectListItem
    {
        Text = x.Value + " " + x.Text,
        Value = x.Value
    }).ToList();
    var severity = EnumHelper.GetSelectList(typeof(PagedListDemo.Models.NotificationMessage.Severity));
}

<div id="toggle-button-container">
    <form id="toggle-button-form">

        <div data-bind="foreach: buttons">
            <div data-bind="toggleAttr: { attrFn: $root.buttonAttr }">
                <input data-bind="attr: { value: value }" name="features" class="hidden" type="checkbox" />
                <strong data-bind="text: text"></strong>
            </div>
        </div>

        <br />
        <button data-bind="click: submit" type="button" class="form-control">Submit</button>

        <div class="form-inline">
            <input type="text" name="message.message" value="" class="form-control" />
            @Html.DropDownList("message.severity", severity, new { @class="form-control" })
            @Html.DropDownList("code", statusCodes, new { @class = "form-control" })
            <button data-bind="click: getJSON" type="button" class="form-control">Get JSON</button>
        </div>
    </form>
</div>