@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paged List Demo</h2>

@*@Html.ValidationSummary()*@

<div class="panel">
    <div class="panel-body">
        @Html.Partial("_BooksForm")
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        @*@Html.Partial("_PagedListDemo1")*@
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        @Html.Partial("_PagedListDemo2")
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            ErrorTooltip.Init(['[type="submit"]']);
        });
    </script>
}