@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Next Page</h2>

@if (ViewData["Books"] != null)
{
    var books = (PagedListDemo.Models.Book)ViewData["Books"];
    <pre>Selected ID: @books.BookId</pre>
}