*:focus {
    outline: 0;
}

/*Error Tooltip*/
.tooltip.custom-tooltip-error.top .tooltip-inner {
    background-color: #A4261C;
    text-align: left;
}

.tooltip.custom-tooltip-error.top .tooltip-arrow {
    border-top-color: #A4261C;
}

.tooltip.custom-tooltip-error.left .tooltip-arrow {
    border-left-color: #A4261C;
}

.tooltip.custom-tooltip-error.right .tooltip-arrow {
    border-right-color: #A4261C;
}

.tooltip.custom-tooltip-error.bottom .tooltip-arrow {
    border-bottom-color: #A4261C;
}

.tooltip.custom-tooltip-error .tooltip-inner ul {
    margin: 0;
    padding: 3px;
}

.tooltip.custom-tooltip-error .tooltip-inner li {
    display: block;
}
/*Error Tooltip End*/

/*div.validation-summary-errors {
    color: white;
}

div.validation-summary-errors:before {
    content: "Validation Summary:";
    font-weight: bold;
    padding-left: 10px;
}

div.validation-summary-errors ul {
    padding-left: 17px;
    text-align: left !important;
}

div.validation-summary-errors li {
    display: block;
}

}*/
span.field-validation-error {
    display: block;
    color: #d9534f;
    pre;

{
    max-height: 400px;
    overflow: auto;
}

.table-responsive {
    overflow-x: auto;
}

    .table-responsive input {
        min-width: 150px;
    }

.white-fg {
    color: transparent;
}

.paged-list-demo pre {
    word-break: initial;
}

.paged-list-demo .filters > div {
    display: inline-block;
}

.paged-list-demo thead th span {
    cursor: pointer;
    user-select: none;
}

/*.paged-list-demo tbody tr {
}*/

.paged-list-demo tr td {
    vertical-align: middle !important;
}

    .paged-list-demo tr td:first-child {
        cursor: pointer;
        min-width: 30px;
        padding-left: 10px;
    }

.paged-list-demo [disabled] {
    pointer-events: initial;
}

.paged-list-demo .check-mark {
    color: #EBEBEB;
}

    .paged-list-demo .check-mark.checked {
        color: #289c2b;
    }

.paged-list-demo .btn {
    position: relative;
    padding: 0.4em 1.7em;
}
