*:focus {
    outline: 0;
}

pre {
    max-height: 400px;
    overflow: auto;
}

.table-responsive {
    overflow-x: auto;
}

    .table-responsive input {
        min-width: 150px;
    }

.white-fg {
    color: transparent;
}

.paged-list-demo pre {
    word-break: initial;
}

.paged-list-demo .filters > div {
    display: inline-block;
}

.paged-list-demo thead th span {
    cursor: pointer;
    user-select: none;
}

/*.paged-list-demo tbody tr {
}*/

.paged-list-demo tr td {
    vertical-align: middle !important;
}

    .paged-list-demo tr td:first-child {
        cursor: pointer;
        min-width: 30px;
        padding-left: 10px;
    }

.paged-list-demo [disabled] {
    pointer-events: initial;
}

.paged-list-demo .check-mark {
    color: #EBEBEB;
}

    .paged-list-demo .check-mark.checked {
        color: #289c2b;
    }

.paged-list-demo .btn {
    position: relative;
    padding: 0.4em 1.7em;
}
